body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  font-family: "Noto Sans", sans-serif;
}
a,
strong {
  color: blueviolet;
}
a {
  text-decoration: none;
}
.box {
  max-width: 610px;
  height: 630px;
  margin: 5px auto;
  padding: 20px 15px;
  border-radius: 10px;
  background: lavender;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container {
  max-width: 530px;
  margin: 10px auto;
  padding: 20px;
  background: #ffc0d9;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

select {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 4px;
  font-size: 18px;
  font-family: monospace;
  padding: 10px;
}
h1 {
  text-align: center;
  font-size: 35px;
}
h2 {
  font-size: 28px;
  margin: 0px 0px 5px;
}
.city {
  display: flex;
  margin: 10px 0;
  padding: 15px 0px;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.7;
  color: blueviolet;
}
.time {
  font-size: 40px;
  font-weight: bold;
}
.time small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 40px;
}
footer {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
